<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/signup_page.css}">
    <link rel="icon" th:href="@{img/favicon.ico}">
    <title>회원가입</title>
</head>
<body>
<header>
    <div class="header-background">
        <a th:href="@{/main}"><img class="top-logo" th:src="${img/Logo.png}" alt=" 로고"></a>
        <div class="loginbar">
            <a th:href="@{/login}">로그인</a> |
            <a th:href="@{/signup}">회원가입</a>
        </div>
    </div>
</header>
<main>
    <div class="signup-background">
        <div>
            <h1>회원가입</h1>
            <form th:action="@{/signup.do}" th:object="${signupForm}" method="post">
                <label>아이디</label>
                <input type="text" th:field="*{userId}" placeholder="아이디 입력" id="userId" required>
                <label>비밀번호</label>
                <input type="password" th:field="*{password}" placeholder="비밀번호 입력" id="password" required>
                <label>비밀번호 확인</label>
                <input type="password" th:field="*{repeatPassword}" placeholder="비밀번호 확인 입력" id="repeatPassword" required>
                <label>이름</label>
                <input type="text" th:field="*{userName}" placeholder="이름입력" id="userName"required>
                <label>이메일</label>
                <input type="email" th:field="*{email}" placeholder="이메일 입력" id="email" required>
                <input type="submit" value="회원가입">
            </form>
        </div>
    </div>
</main>
</body>
</html>