<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/edit/${UserResponse.id}}" th:object="${UpdateRequest}" method="post">

    <p>UserID</p>
    <input type="text" th:field="${UpdateRequest.userId}" th:placeholder="${UserResponse.userId}" id="userId" required>

    <p>Password</p>
    <input type="text" th:field="${UpdateRequest.userId}" th:placeholder="${UserResponse.password}" id="password"
           required>

    <p>Name</p>
    <input type="text" th:field="${UpdateRequest.userId}" th:placeholder="${UserResponse.name}" id="name" required>


    <p>Email</p>
    <input type="text" th:field="${UpdateRequest.userId}" th:placeholder="${UserResponse.email}" id="email" required>
    <br>
    <input type="submit" value="회원가입">
</form>

</body>
</html>