*{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: black;
}
body{
    margin: 0;
}
div>img{
    width: 200px;
    margin-left: 150px;
}
.loginbar{
    float: right;
}
nav>section{
    width: 70%;
    position: relative;
    bottom: 40px;
    left: 600px;
    font-size: 30px;
}
header>div>nav{
    position: relative;
    bottom: 30px;
    border-top: 1px solid black;
}
section>a{
    margin: 40px;
}
.main-background{
    height: 400px;
    text-align: center;
}
.description-line{
    border: 1px solid black;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 15px;
}
div>h2{
    margin-bottom: 0;
}
.other-information-background{
    position: relative;
    top: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    height: 200px;
    padding: 100px 0 50px 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.other-information-background>div{
    border: 1px solid white;
    float: left;
    width: 250px;
    height: 150px;
    margin: 0 50px 0 50px;
    color: white;
}
.other-information-background h1 h2 h3{
    margin: 0;
}
.footer-information{
    position: relative;
    top: 150px;
    text-align: center;
}