*{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: black;
}
body{
    margin: 0;
}
div>a>img{
    width: 200px;
    margin-left: 150px;
}
.loginbar {
    float: right;
}
.signup-background{
    display: flex;
    justify-content: center;
    text-align: center;
}
div>form{
    width: 300px;
    height: 500px;
}
form>input{
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 280px;
    height: 30px;
}